<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="btn-group btn-group-sm">
      <button type="button" data-value="1" data-content_object="/api/article/article/1/" class="btn btn-link open-comment  vote_tag active">
          <i class="fa fa-thumbs-up"></i>
          <span>1</span>
      </button>

    <button type="button" data-value="0" data-content_object="/api/article/article/1/" class="btn btn-link open-comment  vote_tag">
        <i class="fa fa-thumbs-down"></i>
        <span>0</span>
    </button>
</div>
</body>
</html>