{% extends 'base_ajax.html' %}
{#{% load mytags %}#}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div>
    <ul id="myTab" class="nav nav-tabs">
        <li class="btn_ajax_item" data-toggle="tab" value="/system/role_list/1"><a href="#">角色列表</a></li>
        <li class="btn_ajax_item active" data-toggle="tab" value="/system/role_permission_list"><a href="#">(角色-权限)关系</a></li>
     </li>
    </ul>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> 角色-权限 列表 </h5>
                </div>

                <div class="ibox-content">
                    <div class="">
                        <li class="btn btn-sm btn-primary popup_window_role_permission">添加</li>
                        <a id="del_btn" class="btn btn-sm btn-danger "> 删除所选 </a>
                        <form id="search_form" method="get" action="" class="pull-right mail-search">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" id="search_input" name="keyword" placeholder="Search">
                                <div class="input-group-btn">
                                    <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 10px;">
                                    <input type="checkbox" id="select_all" onclick="selectAll()"  name="select_all">
                                </th>
                                <th class="text-center" style="text-align: left">角色-权限</th>
                                <th class="text-center" style="text-align: left; width: 120px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for role_permission in role_permisison_list %}
                            <tr class="gradeX">
                                <td class="text-center">
                                    <input type="checkbox"  name="selected" value="{{ role_permission.id }}">
                                </td>
                                <td class="text-center" style="text-align: left">{{ role_permission }}</td>
                                 <td class="text-center"  style="text-align: left">
                                    <span role_permission_id="{{ role_permission.id }}" role_permission="{{ role_permission }}" class="btn btn-xs btn-danger btn-delete">删除</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                Showing {{ contacts.start_index }} to {{ contacts.end_index }} of {{ p.count }} entries
                            </div>
                        </div>
                        {% include 'paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        var check_array = [];
        $('#del_btn').click(function(){
            if (confirm("确定删除")) {
                $(".gradeX input:checked").each(function() {check_array.push($(this).attr("value")) });
                $(".gradeX input:checked").closest("tr").remove();
                $.post("/juser/user_del_ajax/",
                        {ids: check_array.join(",")},
                        function(data){
                            window.open("/juser/user_list/", "_self");
                        }
                )
            }

        });


        $('.btn-delete').click(function () {
            if (confirm("是否删除关系[" + $(this).attr("role_permission") + "]")) {
                var role_permission_id = $(this).attr("role_permission_id");
                var item = $(this);
                url = "/system/role_permission_delete";
                $.post(url, {role_permission_id: role_permission_id}, function (resp) {
                    if (resp["success"]) {
                        item.closest("tr").remove();
                    }else {
                        alert(resp["error"]);
                    }
                })
            }
        });


        $('.popup_window_role_permission').click(function(){
            $.colorbox({
                href:'/system/role_permission_add',
                transition:'none',
                open:true, closeButton:false, width: 800, height:660, top:"10%"
            })
        });


    });




</script>

{% endblock %}
