{% extends 'base_ajax.html' %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑用户信息</h5>
                        <div class="ID" value="{{ user.id }}"></div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" id="userForm" class="form-horizontal" action="">
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success text-center">{{ msg }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">用户名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="username" name="username" placeholder="{{ user.username }}" type="text" class="form-control" value="{{ username }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="real_name" class="col-sm-2 control-label">姓名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="real_name" name="real_name" placeholder="{{ user.real_name }}" type="text" class="form-control" {% if error %}value="{{ real_name }}" {% endif %}>
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="gender" class="col-sm-2 control-label">性别<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="gender" name="gender" placeholder="{{ user.gender }}" type="text" class="form-control" {% if error %}value="{{ gender }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile" class="col-sm-2 control-label">手机<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="mobile" name="mobile" placeholder="{{ user.mobile }}" type="text" class="form-control" {% if error %}value="{{ mobile }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-2 control-label">电话<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="phone" name="phone" placeholder="{{ user.phone }}" type="text" class="form-control" {% if error %}value="{{ phone }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">邮箱<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="email" name="email" placeholder="{{ user.email }}" type="text" class="form-control" {% if error %}value="{{ email }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="department" class="col-sm-2 control-label">部门<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="department" name="department" placeholder="{{ user.department }}" type="text" class="form-control" {% if error %}value="{{ department }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="position" class="col-sm-2 control-label">职位<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="position" name="position" placeholder="{{ user.position }}" type="text" class="form-control" {% if error %}value="{{ position }}" {% endif %}>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="cancel_button" class="btn btn-white" type="button">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="button">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
$('#userForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    rules: {

    },
    fields: {
        "username": {
            rule: "required",
            tip: "输入用户名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "password": {
            rule: "required",
            tip: "输入密码",
            ok: "",
            msg: {required: "必须填写!"}
        },

    },
    valid: function(form) {
        form.submit();
    }
});

function ajaxclickload(obj_url) {
    htmlobj=$.ajax({url:obj_url,async:false});
    $("#main_content").html(htmlobj.responseText);
}

$("#submit_button").click(function () {
    var id = $(".ID").attr("value");
    $.ajax({
        cache: true,
        type: "POST",
        url: "/system/user_edit/"+id,
        data:$('#userForm').serialize(),
        async: false,
        error: function(request) {
            alert("Connection error");
        },
        success: function(data) {
            parent.$.colorbox.close();
            ajaxclickload("/system/user_list/1");

        }
    });
});

$(document).ready(function() {
    $('#cancel_button').click(function(){
        parent.$.colorbox.close();
        return false;
    });
});

</script>


{% endblock %}