{#<div class="row" style="margin-top: -40px; height: 46px; background-color: #fff;">#}
{#    <div class="col-lg-10" style="margin-top: -7px;">#}
{#        <div>#}
{#            <ul class="nav navbar-nav">#}
{#                <li class="btn_ajax_item btn" value="/system/permission_list"><a href="#">权限</a></li>#}
{#                <li class="btn_ajax_item btn" value="/system/role_list"><a href="#">角色</a></li>#}
{#                <li class="btn_ajax_item btn" value="/system/object_permission_list"><a href="#">内容-角色-权限</a></li>#}
{#                <li class="btn_ajax_item btn" value="/system/principal_role_relation_list"><a href="#">用户-角色</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-2">#}
{#    </div>#}
{#</div>#}

{#<div>#}
{#    <ul id="myTab" class="nav nav-tabs">#}
{#        <li class="btn_ajax_item" data-toggle="tab" value="/system/permission_list"><a href="#">权限</a></li>#}
{#        <li class="btn_ajax_item" data-toggle="tab" value="/system/role_list"><a href="#">角色</a></li>#}
{#        <li class="btn_ajax_item" data-toggle="tab" value="/system/object_permission_list"><a href="#">内容-角色-权限</a></li>#}
{#        <li class="btn_ajax_item" data-toggle="tab" value="/system/principal_role_relation_list"><a href="#">用户-角色</a></li>#}
{#     </li>#}
{#    </ul>#}
{#</div>#}
{##}
{#<div id="myTabContent" class="tab-content">#}
{# <div class="tab-pane fade in active" id="home">#}
{#  <p>Content of home</p>#}
{# </div>#}
{# <div class="tab-pane fade" id="profile">#}
{#  <p>Content of profile</p>#}
{# </div>#}
{# <div class="tab-pane fade" id="dropdown1">#}
{#  <p>Content of dropdown1</p>#}
{# </div>#}
{# <div class="tab-pane fade" id="dropdown2">#}
{#  <p>Content of dropdown2</p>#}
{# </div>#}
{#</div>#}
{##}
{#<script>#}
{#    $('#myTab li').click(function (e) {#}
{#        var x = $(this);#}
{#        e.preventDefault();#}
{#        ajaxclickload($(this).attr("value"));#}
{#        x.addClass(active);#}
{##}
{#    })#}
{##}
{#</script>#}